# Ignore Terraform state files
*.tfstate
*.tfstate.*

.terraform/
.terraform.lock.hcl

terraform.tfvars
*.tfvars
*.tfvars.json

.terraformrc
terraform.rc

.idea/
.vscode/
*.swp
*.swo

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.log

# Ignore plan files
*.tfplan

.env
*.env
